.about-section {
  height: 0;
  overflow: hidden;
  transition: height 0.6s ease, background-color 0.6s ease;
  position: relative;
}

.about-section.open {
  height: 350px; 
}

.about-content {
  z-index: 2;
  text-align: center;
  padding: 20px;
  transition: opacity 0.6s ease;
}

.line {
  position: absolute;
  width: 4px;
  height: 80%;
  background-color: white;
  top: 10%;
  transition: opacity 0.6s ease;
}

.left-line {
  left: 20px;
}

.right-line {
  right: 20px;
}
